body {
    background-color: black;
    color: white;
  }
h1 {
  text-align: center;
}

h2 {
  text-align: center;
}


footer {
    text-align: center;
    vertical-align: bottom;
    padding: 3px;
    background-color: black;
    color: grey;
  }