body {
    background-color: grey;
    color: white;
  }

.nav-link {
  color: white;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

hr {
  height: 3px;
  border-width: 2;
  color: blue;
  background-color: dark grey;
}

footer {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    padding: 3px;
    background-color:;
    color: white;
  }