body {
  background-color: #536872;
  color: black;
}

h2 {
  background-color: #6e7f80;
}

.nav-link {
  color: black;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}

tr:hover {
  background-color: #e7fcfe;
}

pre {
  text-align: center;
  color: white;
  font-size: 16px;
}

footer {
  width: 100%;
  height: 100px;
  position: bottom;
  bottom: 0px;
  text-align: center;
  padding: 3px;
  background-color: #36454f;
  color: black;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image {
  display: none;
  width: 100%;
  height: auto;

}